@import './resets';
@import './variables';
@function weight($weight-name){
    @return map-get($font-weights, $weight-name);    
}
@mixin flexcenter($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;

}
@mixin theme($light-theme: true) {
    @if $light-theme{
        background-color: lighten($primary-color, 100%);
        color: darken($text-color, 100%);
    }
}
@mixin mobile {
    @media (max-width: $mobile){
        @content;
    }
}
#nav-bar{
    position: sticky;
    top: 0;
    z-index: 10;
}
body {
    background: $primary-color;
    color: $text-color;   
}
h1 {
    text-align: center;
    color: orangered;
    
}
.navbar{
    text-align: left;
    color: white;
    :hover{
        color:yellow;
    }
}
.container {
   @include flexcenter(row);
    width: 80%;
    margin: 0 auto;
   
    
    #{&}__paragraph1 {
        color: orange;
        font-weight: weight(regular);
        &:hover {
            color:green;
        }    
    }
#{&}__paragraph2{
    @extend .container__paragraph1;

    &:hover{
        color: $accent-color;

    }
}
@include mobile{
    flex-direction: column;
}
        
    h1 {
        font-weight: map-get($font-weights, bold);
    }
}
.light{
    @include theme($light-theme: false);
}
.col-3{
    border:5px solid black ;
    background-position: center;
    margin-left: 40%;
}